{% extends "layout.html" %}
{% block body %}

<div class="starter-template">
  <h1>CGC Weather application test</h1>

  <p>To test the application, enter the list of members in the following format (simulating data gathered from a database), then click the button.  Ensure you enter at least one instructor and one student.</p>
  <pre>
  "Fred", "+447817000000", "Instructor"
  "Jim", "+447769000000", "Student"
  </pre>

  <form class="form-inline" action="start_day" method="POST">
    <textarea class="form-control" style="min-width: 100%" rows="5" id="user_data" name="user_data"></textarea>
    <button type="submit" class="btn">Simulate start of new gliding day</button>
  </form>

</div>

{% endblock %}